@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  /* font-family: 'Lobster', cursive; */


}

body{
  background:linear-gradient(#72c2f8,#84c8f6,#DEFCF9);
  height: 100vh;
  width: 100%;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 30px;
}

form {
  margin-top: 30px;
  display: inline-block;
  text-align: left;
}

input[type="text"] {
  padding: 8px 35px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 8.5px 20px;
  /* background-color: #4caf50; */
  /* color: rgba(255, 255, 255, 0.507); */
  border-radius: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  backdrop-filter: blur(82px);
  background-color:#537FE7;

}

.card {
  /* background-color: hsl(183, 46%, 40%); */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  left: -5%;
  margin: auto;
  padding: 1rem;
  width: 650px;
  height: 370px;
  text-align: center;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 40px 40px;
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
  /* justify-content: center; */
  /* text-align: center; */
}

.loading {
  font-size: 18px;
  margin: 30px 0;
}

.error {
  color: red;
  font-size: 28px;
  margin: 30px 0;
}



.container1{
    width: 500px;
    height: 50px;
    border-radius: 10%;
    /* justify-content: center; */
    /* justify-self: center; */
    position: relative;
    margin: auto;
}

p,h1{
    font-size: 1.5rem;
  text-align: center;
  position:relative;
  /* top:40%; */
  opacity: 1;
}
.data2,
.font{
  opacity: 1;
}


.country{
position: relative;
left:-32%;
top:-40%;
font-size: 3rem;
color: #ffffff;
bottom: 0;
padding-bottom: 0!important;
padding-left: 1.8rem;
}

#date{
  position: relative;
  left: -27%;
  top:30%;
  font-size: 1.5rem;
  color: #ffffff;
}
.main__temp{
  position: relative;
  right: -30%;
  top: 2%;
  font-size: 5rem;
color: #ffffff;

}
.main__icon{
  position: relative;
  right: -30%;
  top: -5%;
  font-size: 2rem;
  color: #0801016c;
}
#form_search{
  position: relative;
  top: 10%;
  margin-bottom: 1rem;
}

.head__text{
 font-family: 'Lobster',cursive;
  color: aliceblue;
  font-size: 2.5rem;
  position: relative;
  top: -5%;
  bottom: 0;

}

.min_max{
  color: #0b01016e;
  font-size: 1.5rem;
  position: relative;
  left: -32%;
  top: -60%;
}
.icon_image{
  position: relative;
  /* right: -50%; */
  top: -45%;
  left: -15%;
  /* bottom: 30%; */
}
.title_name{
  position: relative;
  font-size: 1rem;
  top:-45%
}

.dateTT{
  font-size: 2rem!important;
  position: relative;
  top: -95%;
  left: -12%;
color: #ffffff;
padding-left: 1rem;
}


/* media query */

@media screen and (max-width: 390px) {

  .card {
    /* background-color: hsl(183, 46%, 40%); */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); */
    position: absolute;
    left: -5%;
    margin: auto;
    padding: 1rem;
    width: 650px;
    height: 370px;
    text-align: center;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 40px 40px;
    border-top-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    /* justify-content: center; */
    /* text-align: center; */
  }
}